.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00d4ff;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}


.custom-scrollbar {
  scrollbar-width: thin!important;
  scrollbar-color: #00d4ff transparent!important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00d4ff;
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
